@charset "UTF-8";
@media (min-width: 300px) {
  /* Extra Small */
  .col-1 {
    width: 8.3%;
  }

  .col-2 {
    width: 17%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 34%;
  }

  .col-5 {
    width: 41.5%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 59%;
  }

  .col-8 {
    width: 67%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83%;
  }

  .col-11 {
    width: 92%;
  }

  .col-12 {
    width: 100%;
  }
}
@media (min-width: 576px) {
  /* Small */
  .col-sm-1 {
    width: 8.3%;
  }

  .col-sm-2 {
    width: 17%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 34%;
  }

  .col-sm-5 {
    width: 41.5%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 59%;
  }

  .col-sm-8 {
    width: 67%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83%;
  }

  .col-sm-11 {
    width: 92%;
  }

  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  /* Medium */
  .col-md-1 {
    width: 8.3%;
  }

  .col-md-2 {
    width: 17%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 34%;
  }

  .col-md-5 {
    width: 41.5%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 59%;
  }

  .col-md-8 {
    width: 67%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83%;
  }

  .col-md-11 {
    width: 92%;
  }

  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* Large */
  .col-lg-1 {
    width: 8.3%;
  }

  .col-lg-2 {
    width: 17%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 34%;
  }

  .col-lg-5 {
    width: 41.5%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 59%;
  }

  .col-lg-8 {
    width: 67%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83%;
  }

  .col-lg-11 {
    width: 92%;
  }

  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* Extra Large */
  .col-xl-1 {
    width: 8.3%;
  }

  .col-xl-2 {
    width: 17%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 34%;
  }

  .col-xl-5 {
    width: 41.5%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 59%;
  }

  .col-xl-8 {
    width: 67%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-10 {
    width: 83%;
  }

  .col-xl-11 {
    width: 92%;
  }

  .col-xl-12 {
    width: 100%;
  }
}
body {
  background: #f7f5f5;
}
body header {
  width: 100%;
  height: 80px;
  z-index: 1;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
body header #container-header {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
body header #container-header h1 {
  font: bold 4rem "Bebas Neue", sans-serif;
  text-shadow: 1px 1px 5px #333;
  color: #fff;
}
body header #container-header h1 span {
  color: #7B0CFA;
}
body header #container-header #desktop-menu a {
  text-decoration: none;
  font: 600 1rem "Open Sans", sans-serif;
  margin: 0 10px;
  color: #fff;
  text-shadow: 1px 1px 2px #333;
  transition: ease-in-out 0.3s;
}
body header #container-header #desktop-menu a:hover {
  color: #7B0CFA;
  text-shadow: 1px 1px 14px #333;
}
body header #container-header #desktop-menu .active {
  color: #770CEE;
}
body header #container-header #button-mobile {
  display: none;
}
body #mobile-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
body #mobile-menu #closeSidenav {
  height: 50px;
  font-size: 2rem;
  margin: 0 0 0 auto;
  width: 52px;
  color: #fff;
  float: right;
}
body #mobile-menu a {
  width: 119px;
  color: #fff;
  margin: 0.5rem auto;
  font: 600 1.5rem "Open Sans", sans-serif;
  text-decoration: none;
}
body #banner {
  height: 100vh;
  background-image: url("../../assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
body #banner::before {
  content: "";
  background-color: black;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
}
body #banner #text {
  z-index: 1;
  color: #fff;
}
body #banner #text h4 {
  font: 500 3rem "Open Sans", sans-serif;
  line-height: 2.3rem;
  text-transform: uppercase;
}
body #banner #text h1 {
  font: 700 15rem "Ubuntu", sans-serif;
  text-transform: uppercase;
  line-height: 11.2rem;
  color: #770CEE;
  text-shadow: 1px 1px 3px #333;
}
body #banner #text nav {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
body #banner #text nav a {
  margin: 0 0.3125rem;
  width: 150px;
  height: 40px;
  border: none;
  text-decoration: none;
  border-radius: 2px;
  transition: ease-in-out 0.4s;
  box-shadow: 0 0 14px #333;
  color: #333;
  font: 600 1rem "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
body #banner #text nav a:first-child {
  background: #fff;
}
body #banner #text nav a:first-child:hover {
  background: #d9d9d9;
}
body #banner #text nav a:last-child {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  text-shadow: 1px 1px 5px #333;
}
body #banner #text nav a:last-child:hover {
  background: #fff;
  color: #333;
  text-shadow: none;
}
body #banner #arrowDown {
  color: #fff;
  font-size: 5.5rem;
  z-index: 1;
  position: absolute;
  left: 40%;
  bottom: 10px;
  transition: ease-in-out 0.3s;
  animation: 0.9s arrowDownAnimation infinite;
}
@keyframes arrowDownAnimation {
  from {
    bottom: 10px;
  }
  to {
    bottom: 5px;
  }
}
body #schedule {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
body #schedule .container {
  width: 100vw;
  height: 100%;
  margin: 0 9.1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
body #schedule .container .breadcrumb {
  z-index: 1;
}
body #schedule .container .breadcrumb a {
  text-decoration: none;
  font: 600 1.1rem "Open Sans", sans-serif;
  text-transform: initial;
  color: #333;
  display: inline-block;
}
body #schedule .container .breadcrumb .active-breadcrumb {
  color: #770CEE;
}
body #schedule .container .breadcrumb .title-page {
  font: 700 4rem "Ubuntu", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  border-left: 10px solid #770CEE;
  line-height: 49px;
  padding-left: 0.625rem;
  margin: 0.5rem 0;
}
body #schedule .container table {
  width: 100%;
  height: 23%;
}
body #schedule .container table tr {
  border-bottom: 1px solid rgba(146, 145, 145, 0.418);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-family: "Open Sans", sans-serif;
}
body #schedule .container table tr .date {
  font-size: 1.2rem;
}
body #schedule .container table tr .cityInfos {
  display: flex;
  flex-direction: column;
}
body #schedule .container table tr .cityInfos span:first-child {
  font-weight: bold;
}
body #schedule .container table tr .cityInfos span:last-child {
  color: #666565;
  margin-top: 0.13rem;
}
body #schedule .container table tr button {
  width: 85px;
  height: 30px;
  border: none;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 5px rgba(51, 51, 51, 0.568);
  transition: ease-in-out 0.4s;
}
body #schedule .container table tr button:hover {
  box-shadow: 0 0 14px rgba(51, 51, 51, 0.568);
  background: #e6e6e6;
}
body #schedule .container table tr .date {
  font-weight: bold;
}
body #about {
  height: 100vh;
  background-image: url("../../assets/about.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
body #about::before {
  content: "";
  background-color: black;
  opacity: 0.7;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body #about .container {
  width: 100vw;
  height: 100%;
  margin: 0 9.1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body #about .container .breadcrumb {
  z-index: 1;
}
body #about .container .breadcrumb a {
  text-decoration: none;
  font: 600 1.1rem "Open Sans", sans-serif;
  text-transform: initial;
  color: #fff;
  display: inline-block;
}
body #about .container .breadcrumb .active-breadcrumb {
  color: #770CEE;
}
body #about .container section {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 526px;
}
body #about .container section h1 {
  font: 700 5rem "Ubuntu", sans-serif;
  text-transform: uppercase;
  color: #7B0CFA;
  text-shadow: 0 0 10px rgba(51, 51, 51, 0.568);
}
body #about .container section p {
  color: #fff;
  font: 300 1rem "Open Sans", sans-serif;
  text-transform: initial;
  text-align: center;
  margin: 0.75rem 0;
}
body #musics {
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}
body #musics .container {
  width: 100vw;
  height: 100%;
  margin: 0 9.1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
body #musics .container .breadcrumb {
  z-index: 1;
}
body #musics .container .breadcrumb a {
  text-decoration: none;
  font: 600 1.1rem "Open Sans", sans-serif;
  text-transform: initial;
  color: #333;
  display: inline-block;
}
body #musics .container .breadcrumb .active-breadcrumb {
  color: #770CEE;
}
body #musics .container .title-page {
  font: 700 4rem "Ubuntu", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  border-left: 10px solid #770CEE;
  line-height: 49px;
  padding-left: 0.625rem;
  margin-bottom: 2rem;
}
body #musics .container section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  margin: 0 auto;
}
body #musics .container section .flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}
body #musics .container section .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
body #musics .container section .flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
body #musics .container section .flip-card .flip-card-inner .flip-card-front {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(51, 51, 51, 0.568);
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #bbb;
}
body #musics .container section .flip-card .flip-card-inner .plaqtudum {
  background-image: url("../../assets/plaqtudum.jpg");
  background-position: 53% center;
  background-size: 175%;
}
body #musics .container section .flip-card .flip-card-inner .osmlkdesp {
  background-image: url("../../assets/osmlkdesp.jpg");
  background-position: center center;
  background-size: 222%;
}
body #musics .container section .flip-card .flip-card-inner .flackjack {
  background-image: url("../../assets/flackjack.jpg");
  background-position: center center;
  background-size: 230%;
}
body #musics .container section .flip-card .flip-card-inner .nicole {
  background-image: url("../../assets/nicole.jpg");
  background-position: center center;
  background-size: 100%;
}
body #musics .container section .flip-card .flip-card-inner .plaqtudum2 {
  background-image: url("../../assets/plaqtudum2.png");
  background-position: center center;
  background-size: 100%;
}
body #musics .container section .flip-card .flip-card-inner .flack {
  background-image: url("../../assets/flack.webp");
  background-position: center center;
  background-size: 100%;
}
body #musics .container section .flip-card .flip-card-inner .container-icons {
  margin-top: 1rem;
}
body #musics .container section .flip-card .flip-card-inner .container-icons a {
  font-size: 2.3rem;
  text-decoration: none;
}
body #musics .container section .flip-card .flip-card-inner .container-icons a:nth-child(1) {
  color: #ff0000;
}
body #musics .container section .flip-card .flip-card-inner .container-icons a:nth-child(2) {
  color: #1ed760;
  margin: 0 10px;
}
body #musics .container section .flip-card .flip-card-inner .container-icons a:nth-child(3) {
  color: #ff3300;
}
body #musics .container section .flip-card .flip-card-inner .flip-card-back {
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #770CEE;
  color: white;
  transform: rotateY(180deg);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 14px rgba(51, 51, 51, 0.568);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body #musics .container section .flip-card .flip-card-inner .flip-card-back h1 {
  font: 700 2.5rem "Ubuntu", sans-serif;
  text-transform: uppercase;
}
body #musics .container section .flip-card .flip-card-inner .flip-card-back h3 {
  font: 300 1.1rem "Open Sans", sans-serif;
  text-transform: initial;
}
body #musics .container section .flip-card .flip-card-inner .flip-card-back p {
  font: 600 1.1rem "Open Sans", sans-serif;
  text-transform: initial;
  margin-top: 0.75rem;
}
body #artists {
  height: 120vh;
  background-image: url("../../assets/artists.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
body #artists::before {
  content: "";
  background: #000;
  opacity: 0.7;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body #artists .container {
  width: 100vw;
  height: 100%;
  margin: 0 9.1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
body #artists .container .breadcrumb {
  z-index: 1;
  top: 3%;
}
body #artists .container .breadcrumb a {
  text-decoration: none;
  font: 600 1.1rem "Open Sans", sans-serif;
  text-transform: initial;
  color: #fff;
  display: inline-block;
}
body #artists .container .breadcrumb .active-breadcrumb {
  color: #770CEE;
}
body #artists .container section {
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}
body #artists .container section .card {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  position: relative;
}
body #artists .container section .card:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
body #artists .container section .card:nth-child(1):hover .image {
  filter: blur(1.5px);
}
body #artists .container section .card:nth-child(1):hover h1 {
  opacity: 1;
}
body #artists .container section .card:nth-child(1) .image {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  background-image: url("../../assets/dfideliz.webp");
  background-position: center center;
  background-size: cover;
}
body #artists .container section .card:nth-child(1) h1 {
  opacity: 0;
  position: absolute;
  color: #fff;
  text-shadow: 0 0 14px rgba(51, 51, 51, 0.568);
  font: 700 3rem "Ubuntu", sans-serif;
  text-transform: uppercase;
}
body #artists .container section .card:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
body #artists .container section .card:nth-child(2):hover .image {
  filter: blur(1.5px);
}
body #artists .container section .card:nth-child(2):hover h1 {
  opacity: 1;
}
body #artists .container section .card:nth-child(2) .image {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  background-image: url("../../assets/derek.jpg");
  background-position: center center;
  background-size: cover;
}
body #artists .container section .card:nth-child(2) h1 {
  opacity: 0;
  position: absolute;
  color: #fff;
  text-shadow: 0 0 14px rgba(51, 51, 51, 0.568);
  font: 700 3rem "Ubuntu", sans-serif;
  text-transform: uppercase;
}
body #artists .container section .card:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
body #artists .container section .card:nth-child(3):hover .image {
  filter: blur(1.5px);
}
body #artists .container section .card:nth-child(3):hover h1 {
  opacity: 1;
}
body #artists .container section .card:nth-child(3) .image {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  background-image: url("../../assets/jé.jpg");
  background-position: center center;
  background-size: cover;
}
body #artists .container section .card:nth-child(3) h1 {
  opacity: 0;
  position: absolute;
  color: #fff;
  text-shadow: 0 0 14px rgba(51, 51, 51, 0.568);
  font: 700 2.5rem "Ubuntu", sans-serif;
  text-transform: uppercase;
}
body #artists .container section .card:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
body #artists .container section .card:nth-child(4):hover .image {
  filter: blur(1.5px);
}
body #artists .container section .card:nth-child(4):hover h1 {
  opacity: 1;
}
body #artists .container section .card:nth-child(4) .image {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  background-image: url("../../assets/igu.jpg");
  background-position: center center;
  background-size: cover;
}
body #artists .container section .card:nth-child(4) h1 {
  opacity: 0;
  position: absolute;
  color: #fff;
  text-shadow: 0 0 14px rgba(51, 51, 51, 0.568);
  font: 700 3rem "Ubuntu", sans-serif;
  text-transform: uppercase;
}
body #contact {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}
body #contact .container {
  width: 100vw;
  height: 100%;
  margin: 0 9.1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
body #contact .container .breadcrumb {
  z-index: 1;
}
body #contact .container .breadcrumb a {
  text-decoration: none;
  font: 600 1.1rem "Open Sans", sans-serif;
  text-transform: initial;
  color: #333;
  display: inline-block;
}
body #contact .container .breadcrumb .active-breadcrumb {
  color: #770CEE;
}
body #contact .container .title-page {
  font: 700 4rem "Ubuntu", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  border-left: 10px solid #770CEE;
  line-height: 49px;
  padding-left: 0.625rem;
}
body #contact .container section {
  height: 60%;
  margin-top: 1.3rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  font: 600 1.5rem "Open Sans", sans-serif;
  text-transform: initial;
}
body #contact .container section h1 {
  font: 700 1.5rem "Ubuntu", sans-serif;
  text-transform: initial;
}
body #contact .container section .socials {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
body #contact .container section .socials a {
  font-size: 2.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}
body #contact .container section .socials a .fa-facebook-official {
  color: #3B5998;
}
body #contact .container section .socials a .fa-twitter {
  color: #00ACEE;
}
body #contact .container section .socials a .fa-instagram {
  color: #DD2A7B;
}
body #contact .container section .socials a span {
  font-size: 1.5rem;
  margin-left: 1rem;
  color: #333;
}
body #contact .container section .contactShows {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
body #contact .container section .contactShows table td:last-child {
  width: 76%;
  color: #666565;
}
body footer {
  height: 25vh;
  background: #770CEE;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body footer .container h1 {
  font: bold 4rem "Bebas Neue", sans-serif;
  text-transform: initial;
  line-height: 54px;
}
@media (min-width: 300px) {
  body header #container-header {
    width: 95%;
  }
  body header #container-header h1 {
    font-size: 2.5rem;
  }
  body header #container-header #desktop-menu {
    display: none;
  }
  body header #container-header #mobile-menu {
    display: block;
  }
  body header #container-header #button-menu {
    display: block;
    background: transparent;
    border: none;
    font-size: 2.3rem;
    color: #fff;
  }
  body #banner {
    background-position: center;
    background-size: cover;
  }
  body #banner #text {
    width: 300px;
  }
  body #banner #text h1 {
    font-size: 7rem;
    text-align: center;
    line-height: 6rem;
  }
  body #banner #text h4 {
    font-size: 2.5rem;
  }
  body #schedule .container {
    width: 95%;
    margin: 0 auto;
  }
  body #schedule .container .breadcrumb a {
    font-size: 1.3rem;
  }
  body #about {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
  }
  body #about .container {
    width: 95%;
    margin: 0 auto;
  }
  body #about .container .breadcrumb a {
    font-size: 1.3rem;
  }
  body #about .container section {
    width: 100%;
  }
  body #about .container section h1 {
    width: 100%;
    font-size: 4rem;
    text-align: center;
  }
  body #musics {
    height: auto;
    padding: 3rem 0;
  }
  body #musics .container {
    margin: 0 auto;
  }
  body #musics .container .breadcrumb {
    margin: 0 auto;
    text-align: center;
  }
  body #musics .container .breadcrumb a {
    font-size: 1.3rem;
  }
  body #musics .container .breadcrumb .title-page {
    font-size: 3.7rem;
    margin: 1rem auto 2rem auto;
  }
  body #musics .container section {
    grid-template-columns: 1fr;
  }
  body #musics .container section .flip-card {
    width: 280px;
  }
  body #musics .container section .flip-card .flip-card-inner .flip-card-front, body #musics .container section .flip-card .flip-card-inner .flip-card-back {
    width: 280px;
  }
  body #artists {
    height: auto;
    padding: 3rem 0;
  }
  body #artists .container {
    margin: 0 auto;
    flex-direction: column;
  }
  body #artists .container .breadcrumb {
    margin: 0 0.75rem 1rem 0.75rem;
  }
  body #artists .container .breadcrumb a {
    font-size: 1.3rem;
  }
  body #artists .container section {
    grid-template-columns: 1fr;
  }
  body #artists .container section .card {
    width: 280px;
  }
  body #contact .container {
    width: 283px;
  }
  body #contact .container .breadcrumb {
    text-align: left;
  }
  body #contact .container .breadcrumb a {
    font-size: 1.3rem;
  }
  body #contact .container .breadcrumb .title-page {
    font-size: 3.5rem;
    margin: 1rem auto 2rem auto;
  }
  body #contact .container section {
    margin: 1.3rem auto 0 auto;
  }
  body #contact .container section .socials {
    width: 100%;
  }
  body #contact .container section .contactShows {
    width: 100%;
  }
  body #contact .container section .contactShows table tbody tr {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  body #contact .container section .contactShows table tbody tr td:last-child {
    word-break: break-word;
    width: 100%;
  }
  body footer .container {
    width: 257px;
    text-align: center;
  }
}
@media (min-width: 576px) {
  body header #container-header {
    width: 95%;
  }
  body header #container-header h1 {
    font-size: 2.5rem;
  }
  body header #container-header #desktop-menu {
    display: none;
  }
  body header #container-header #mobile-menu {
    display: block;
  }
  body header #container-header #button-menu {
    display: block;
    background: transparent;
    border: none;
    font-size: 2.3rem;
    color: #fff;
  }
  body #banner {
    background-position: center;
    background-size: cover;
  }
  body #banner #arrowDown {
    left: 45%;
  }
  body #banner #text {
    width: 400px;
  }
  body #banner #text h1 {
    font-size: 9.4rem;
    text-align: center;
    line-height: 7.1rem;
  }
  body #banner #text h4 {
    font-size: 2.5rem;
  }
  body #schedule .container {
    width: 95%;
    margin: 0 auto;
  }
  body #schedule .container .breadcrumb {
    display: flex;
    flex-direction: column;
  }
  body #schedule .container .breadcrumb nav a {
    font-size: 1.3rem;
    display: inline-block;
  }
  body #about {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
  }
  body #about .container {
    width: 95%;
    margin: 0 auto;
  }
  body #about .container .breadcrumb a {
    font-size: 1.3rem;
  }
  body #about .container section {
    width: 100%;
  }
  body #about .container section h1 {
    width: 100%;
    font-size: 4rem;
    text-align: center;
  }
  body #musics {
    height: auto;
    padding: 3rem 0;
  }
  body #musics .container {
    margin: 0 auto;
  }
  body #musics .container .breadcrumb {
    text-align: center;
  }
  body #musics .container .breadcrumb a {
    font-size: 1.3rem;
  }
  body #musics .container .breadcrumb .title-page {
    font-size: 3.7rem;
    margin: 1rem auto 2rem auto;
  }
  body #musics .container section {
    grid-template-columns: 1fr;
  }
  body #musics .container section .flip-card {
    width: 280px;
  }
  body #musics .container section .flip-card .flip-card-inner .flip-card-front, body #musics .container section .flip-card .flip-card-inner .flip-card-back {
    width: 280px;
  }
  body #artists {
    height: auto;
    padding: 3rem 0;
  }
  body #artists .container {
    margin: 0 auto;
    flex-direction: column;
  }
  body #artists .container .breadcrumb {
    margin: 0 0.75rem 1rem 0.75rem;
  }
  body #artists .container .breadcrumb a {
    font-size: 1.3rem;
  }
  body #artists .container section {
    grid-template-columns: 1fr;
  }
  body #artists .container section .card {
    width: 280px;
  }
  body #contact .container {
    margin: 0 auto;
  }
  body #contact .container .breadcrumb {
    text-align: center;
  }
  body #contact .container .breadcrumb a {
    font-size: 1.3rem;
  }
  body #contact .container .breadcrumb .title-page {
    font-size: 3.5rem;
    margin: 1rem auto 2rem auto;
  }
  body footer .container {
    width: 257px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  body #banner {
    background-position: center;
    background-size: cover;
  }
  body #banner #arrowDown {
    left: 47%;
  }
  body #banner #text {
    width: 700px;
  }
  body #banner #text h1 {
    font-size: 16rem;
    text-align: center;
    line-height: 12rem;
  }
  body #banner #text h4 {
    font-size: 2.5rem;
  }
  body #musics {
    height: auto;
    padding: 3rem 0;
  }
  body #musics .container {
    width: 594px;
  }
  body #musics .container .breadcrumb {
    margin: 0;
    text-align: left;
  }
  body #musics .container .breadcrumb a {
    font-size: 1.3rem;
  }
  body #musics .container .breadcrumb .title-page {
    font-size: 3.7rem;
    margin: 1rem auto 2rem auto;
  }
  body #musics .container section {
    grid-template-columns: repeat(2, 1fr);
  }
  body #musics .container section .flip-card {
    width: 280px;
  }
  body #musics .container section .flip-card .flip-card-inner .flip-card-front, body #musics .container section .flip-card .flip-card-inner .flip-card-back {
    width: 280px;
  }
  body #artists {
    height: auto;
    padding: 3rem 0;
  }
  body #artists .container {
    margin: 0 auto;
  }
  body #artists .container .breadcrumb {
    margin: 0 0.75rem 1rem 0.75rem;
  }
  body #artists .container .breadcrumb a {
    font-size: 1.3rem;
  }
  body #artists .container section {
    grid-template-columns: repeat(2, 1fr);
  }
  body #artists .container section .card {
    width: 280px;
  }
  body #contact .container {
    width: 100vw;
    height: 100%;
    margin: 0 9.1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  body #contact .container .breadcrumb {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  body #contact .container .breadcrumb a {
    font-size: 1.3rem;
  }
  body #contact .container .breadcrumb .title-page {
    font-size: 3.5rem;
    margin: 1rem auto 2rem 0;
  }
  body #contact .container section {
    width: 100%;
  }
  body #contact .container section .socials {
    width: 100%;
  }
  body #contact .container section .contactShows {
    width: 100%;
  }
  body #contact .container section .contactShows table {
    width: 100%;
  }
  body #contact .container section .contactShows table tbody tr {
    width: 550px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  body #contact .container section .contactShows table tbody tr td:last-child {
    width: 410px;
  }
  body footer .container {
    width: auto;
    text-align: center;
  }
  body footer .container h1 {
    font-size: 5rem;
    line-height: 4rem;
  }
}
@media (min-width: 992px) {
  body header #container-header {
    width: 95%;
  }
  body header #container-header h1 {
    font-size: 4rem;
  }
  body header #container-header #desktop-menu {
    display: block;
  }
  body header #container-header #mobile-menu, body header #container-header #button-menu {
    display: none;
  }
  body #banner {
    background-position: center;
    background-size: cover;
  }
  body #banner #arrowDown {
    left: 47%;
  }
  body #banner #text {
    width: 700px;
  }
  body #banner #text h1 {
    font-size: 16rem;
    text-align: center;
    line-height: 12rem;
  }
  body #banner #text h4 {
    font-size: 2.5rem;
  }
  body #schedule .container {
    width: 100vw;
    height: 100%;
    margin: 0 9.1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  body #schedule .container .breadcrumb {
    display: flex;
    flex-direction: column;
  }
  body #schedule .container .breadcrumb nav a {
    font-size: 1.3rem;
    display: inline-block;
  }
  body #about {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
  }
  body #about .container {
    width: 100vw;
    height: 100%;
    margin: 0 9.1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  body #about .container .breadcrumb {
    margin: 0 auto;
  }
  body #about .container .breadcrumb a {
    font-size: 1.3rem;
  }
  body #about .container section {
    width: 100%;
  }
  body #about .container section h1 {
    width: 100%;
    font-size: 5.5rem;
    text-align: center;
  }
  body #musics {
    height: auto;
    padding: 3rem 0;
  }
  body #musics .container {
    width: 904px;
  }
  body #musics .container .breadcrumb {
    text-align: left;
  }
  body #musics .container .breadcrumb a {
    font-size: 1.3rem;
  }
  body #musics .container .breadcrumb .title-page {
    font-size: 3.7rem;
    margin: 1rem auto 2rem auto;
  }
  body #musics .container section {
    grid-template-columns: repeat(3, 1fr);
  }
  body #musics .container section .flip-card {
    width: 280px;
  }
  body #musics .container section .flip-card .flip-card-inner .flip-card-front, body #musics .container section .flip-card .flip-card-inner .flip-card-back {
    width: 280px;
  }
  body #artists {
    height: auto;
    padding: 3rem 0;
  }
  body #artists .container {
    margin: 0 auto;
  }
  body #artists .container .breadcrumb {
    margin: 0 0.75rem 1rem 0.75rem;
  }
  body #artists .container .breadcrumb a {
    font-size: 1.3rem;
  }
  body #artists .container section {
    grid-template-columns: repeat(2, 1fr);
  }
  body #artists .container section .card {
    width: 280px;
  }
  body #contact .container {
    width: 100vw;
    height: 100%;
    margin: 0 9.1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  body #contact .container .breadcrumb {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  body #contact .container .breadcrumb a {
    font-size: 1.3rem;
  }
  body #contact .container .breadcrumb .title-page {
    font-size: 3.5rem;
    margin: 1rem auto 2rem 0;
  }
  body #contact .container section {
    width: 100%;
  }
  body #contact .container section .socials {
    width: 100%;
  }
  body #contact .container section .contactShows {
    width: 100%;
  }
  body #contact .container section .contactShows table {
    width: 100%;
  }
  body #contact .container section .contactShows table tbody tr {
    width: 550px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  body #contact .container section .contactShows table tbody tr td:last-child {
    width: 410px;
  }
  body footer .container {
    width: auto;
    text-align: center;
  }
  body footer .container h1 {
    font-size: 5rem;
    line-height: 4rem;
  }
}
@media (min-width: 1200px) {
  body #banner #text {
    width: 650px;
  }
  body #banner #arrowDown {
    left: 48%;
  }
  body #musics .breadcrumb {
    width: 900px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
