@media (max-width: 576px) {
    /* Extra Small */
    .col-1 {
        width: 8.3%;
    }

    .col-2 {
        width: 17%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 34%;
    }

    .col-5 {
        width: 41.5%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 59%;
    }

    .col-8 {
        width: 67%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83%;
    }

    .col-11 {
        width: 92%;
    }

    .col-12 {
        width: 100%;
    }
}

@media (min-width: 576px) {
    /* Small */
    .col-sm-1 {
        width: 8.3%;
    }

    .col-sm-2 {
        width: 17%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 34%;
    }

    .col-sm-5 {
        width: 41.5%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 59%;
    }

    .col-sm-8 {
        width: 67%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83%;
    }

    .col-sm-11 {
        width: 92%;
    }

    .col-sm-12 {
        width: 100%;
    }
}

@media (min-width: 768px) {
    /* Medium */
    .col-md-1 {
        width: 8.3%;
    }

    .col-md-2 {
        width: 17%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 34%;
    }

    .col-md-5 {
        width: 41.5%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 59%;
    }

    .col-md-8 {
        width: 67%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83%;
    }

    .col-md-11 {
        width: 92%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media (min-width: 992px) {
    /* Large */
    .col-lg-1 {
        width: 8.3%;
    }

    .col-lg-2 {
        width: 17%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 34%;
    }

    .col-lg-5 {
        width: 41.5%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 59%;
    }

    .col-lg-8 {
        width: 67%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83%;
    }

    .col-lg-11 {
        width: 92%;
    }

    .col-lg-12 {
        width: 100%;
    }
}

@media (min-width: 992px) {
    /* Extra Large */
    .col-xl-1 {
        width: 8.3%;
    }

    .col-xl-2 {
        width: 17%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-4 {
        width: 34%;
    }

    .col-xl-5 {
        width: 41.5%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-7 {
        width: 59%;
    }

    .col-xl-8 {
        width: 67%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-10 {
        width: 83%;
    }

    .col-xl-11 {
        width: 92%;
    }

    .col-xl-12 {
        width: 100%;
    }
}